@charset "utf-8";
/* CSS Document */
ul.gmenu ul{
	display:none;
	background: #F0EFEF;
	position:absolute;
	width:100%;
	height:0px;
	color:#000;
	z-index: 2;
	line-height: 35px;
	font-size:13px;
	left:0;
	border: 2px solid #fff;
	text-align: left;
}
ul.gmenu li:hover ul{
	display: block;

	animation-name: ddown;
    animation-duration: 0.3s;
    animation-delay: 0;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-direction:alternate;
	animation-fill-mode: forwards;
}
@keyframes ddown{
    0%{
		height: 0px;
		opacity: 0;
    }
    100%{
		height: 40px;
		opacity: 1;
    }
}
ul.gmenu li ul li{
/*	background:url(../images/ls_gm.png);
	background-repeat: no-repeat;
	background-position: 0 12px;*/
	margin-right: 1em;
}
