body {
  background-image: url(../img/back.jpg);
}

.relative{
  position: relative;
  width: 0px;
  height: 0px;
}
.absolute01{
  position: absolute;
  top: 0px;
  left: 0px;
 
}
.absolute02{
  position: absolute;
  top: 0vw;
  left: -0.3vw;
   width: 45%; 

  
}

.absolute03{
  position: absolute;
  top: 1vw;
  left: -0.3vw;
   width: 33%; 

  
}

.absolute04{
  position: absolute;
  top: 5.9vw;
  left: -20vw;
   width: 65%; 

  
}


.absolute06{
  position: absolute;
  top: 18px;
  left: -235px;
 
}

.absolute07{
  position: absolute;
  top: 105px;
  left: -380px;
 
}