body {
  background-color: black;
  color: #ffffff;
}

.resizeimage img { 
  width: 100%; 
  
  }

  * {
  
        margin: 0px;
  
        padding: 0px;
  
    }
    

    .resizeimage video { 
      width: 100%; 
      
      }
    
      * {
      
            margin: 0px;
      
            padding: 0px;
      
        }


        .btn {
          border-radius: 5px;
          background-color: rgb(30, 0, 180);
          padding: 10px;
          text-decoration: none;
          color: white;
        }
        

        .btn2 {
          border-radius: 5px;
          background-color: rgb(180, 0, 0);
          padding: 10px;
          text-decoration: none;
          color: white;
        }


/*
        *{
          cursor: url(../img/01.png),auto;
          }

          */