body {
  background-image: url(../img/back.jpg);
}

.relative{
  position: relative;
  width: 0vw;
  height: 0vw;
}
.absolute01{
  position: absolute;
  top: 0vw;
  left: 0vw;
 
}
.absolute02{
  position: absolute;
  top: 0vw;
  left: -0.3vw;
   width: 45%; 

  
}

.absolute03{
  position: absolute;
  top: 1vw;
  left: -15vw;
   width: 33%; 

  
}

.absolute04{
  position: absolute;
  top: 5.9vw;
  left: -20vw;
   width: 65%; 

  
}

.absolute05{
  position: absolute;
  top: 0px;
  left: 0px;


  
}