body {
  background-image: url(../img/back.jpg);
}

.relative{
  position: relative;
  width: 0px;
  height: 0px;
}
.absolute01{
  position: absolute;
  top: 0px;
  left: 0px;
 
}
.absolute02{
  position: absolute;
  top: 37px;
  left: 0px;
 

  
}

.absolute03{
  position: absolute;
  top: 0px;
  left: 0px;
 

  
}

